// Fonts
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap');

$font-family-sans-serif: 'Rubik', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.navbar.navbar-dark.bg-dark {
    background-color: #000 !important;
}

.navbar .navbar-nav > .nav-item > .nav-link {
    color: #fff;
}


.container {
    max-width: 960px;
}

/*
 * Custom translucent site header
 */

.main {
    background-position: center;
    background-size: cover;
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: -5px;
    right: 10px;
    font-size: 3rem;
}

/*
 * Extra utilities
 */

.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}
