// Fonts
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar.navbar-dark.bg-dark {
    background-color: #000 !important;
}
.navbar .navbar-nav > .nav-item > .nav-link {
    color: #fff;
}


.container {
    max-width: 960px;
}

/*
 * Custom translucent site header
 */

.main {
    background-position: center;
    background-size: cover;
}

/*
 * Extra utilities
 */

.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
}
@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        flex: 1;
    }
}

.overflow-hidden { overflow: hidden; }
